html{
  color: white;
  background-color: black; 
}
img{
  border-width: 5px solid white;
  width: 100%;
}
div{
  text-align: center;
  width: 50%;
  margin: 25%;
}
h1{
  text-transform: capitalize;
  font-family: 'Libre Baskerville', serif;
}
